extends _layout.pug

block vars
  - $id = 'index'

block main
  section.section--breadcrumb
    .container
      .breadcrumb 
        ul 
          li
            a(
              href='/'
            ) 首頁
          li
            a(
              href=""
            ) 影音
          li
            a(
              href=""
            ) 熱門
  section.section--banner
    .container--slim
      +adBanner(true)
  section.section--audio--body
    .container
      .section__title 
        .title 熱門
    .container--slim.mb-5.mb-sm-0.px-2.px-sm-5
      .swiper--banner
        swiper-container(
          navigation='true'
          inject-styles=[
            `
           
            :host {
              --swiper-theme-color: #ede73c;
            }
            :host .swiper-button-prev,
            :host .swiper-button-next {
              background-color: #66666680;
              border-radius: 100%;
              width: 28px;
              height: 28px;
              padding: 10px;
              stroke: #ede73c;
              stroke-width: 1;
            }
            `,
          ],
        )
          each item, index in [0, 1, 2]
            swiper-slide.audios
              .card--video.swiper-min-height
                a.pic(
                  href="./audio.html"
                )
                  img(
                    data-src=`${getLoremYoutube()}`
                  ).lazyload
                a.caption(href="./audio.html")
                  h2.mt-3
                    != getLoremText()


    .container--slim
      .row.row--video
        each item, index in ['人物', '健康', '心靈', '火火', 1, 2, 3, 4]
          .col-md-6.mb-5.mb-lg-3
            .card--video
              a.pic(
                href="./audio.html"
              )
                img(
                  data-src=`${getLoremYoutube()}`
                ).lazyload
              a.caption(href="./audio.html")
                h3
                  != getLoremText()
          if (index + 1) % 4 === 0 && index !== 0
            .col-12
              +adBanner(true)
      .buttons
        .button--more 
          .label 查看更多
          .icon 
            i.bi.bi-caret-down-fill