extends _layout.pug

block vars
  - $id = 'campaignList'

block main
  section.section--campaign--cover
    section.section--breadcrumb
      .container
        .breadcrumb 
          ul 
            li
              a(
                href='/'
              ) 首頁
            li
              a(
                href=""
              ) 活動
    .container--slim.mt-3.mt-md-0.mb-4
      .swiper--banner
        swiper-container(
          navigation='true'
          slides-per-view='1'
          space-between='20'
          autoplay-delay='3000'
          inject-styles=[
            `
            :host .swiper {
              overflow: hidden;
            }
            :host {
              --swiper-theme-color: #ede73c;
              --swiper-navigation-size: 32px;
            }
            :host .swiper-button-prev,
              :host .swiper-button-next {
                background-color: #66666680;
                border-radius: 100%;
                width: 28px;
                height: 28px;
                padding: 10px;
                stroke: #ede73c;
                stroke-width: 1;
              }
            `,
          ],
        )
          each item, index in [0, 1, 2]
            swiper-slide
              .card--course--xl
                .pic
                  img(
                    data-src=`${getLoremCourse()}`
                  ).lazyload
    
  section.section--campaign.is-achieved
    .container--slim
      +adBanner(true)
      .section__title.is-small.mt-3
        .title 活動報名中
      each item, index in [0, 1, 2, 3, 4, 5, 6, 7]
        .row.row--campaign
          .card--campaign
            .pic
              img(
                data-src=`${getLoremCourse()}`
              ).lazyload
            .caption
              .title
                = `${getLoremText()}`
              dl.dl--campaign--detail
                dt 
                  .icon
                    | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16"> <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5"/> </svg>
                dd 2024.12.11（五）19:30
                dt 
                  .icon
                    | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16"> <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/> </svg>
                dd 享象表演藝術場館—台北市信義區信義路五段7號
              .buttons 
                a.button--pill--lg
                  .label 活動介紹
        if (index + 1) % 2 === 0 && index !== 0
          .row.mb-4
            .col-12
              +adBanner(true)

  section.section--campaign
    .container--slim
      .section__title.is-small
        .title 精彩活動回顧
      .row.row--campaign
        each item, index in [0, 1, 2, 3]
          .card--campaign
            .pic
              img(
                data-src=`${getLoremCourse()}`
              ).lazyload
            .caption
              .title
                = `${getLoremText()}`
              dl.dl--campaign--detail
                dt 
                  .icon
                    | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16"> <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5"/> </svg>
                dd 2024.12.11（五）19:30
                dt 
                  .icon
                    | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16"> <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/> </svg>
                dd 享象表演藝術場館—台北市信義區信義路五段7號
              .d-flex.flex-column.justify-content-around.align-items-center
                a.button--pill--lg.mb-3
                  .label 活動介紹
                a.button--pill--lg
                  .label 精彩報導
          if (index + 1) % 2 === 0 && index !== 0
            .col-12.mb-4
              +adBanner(true)         
      .buttons
        .button--more 
          .label 查看更多
          .icon 
            i.bi.bi-caret-down-fill