extends _layout.pug

block vars
  - $id = 'courseList'

block main
  section.section--course--cover
    section.section--breadcrumb
      .container
        .breadcrumb 
          ul 
            li
              a(
                href='/'
              ) 首頁
            li
              a(
                href=""
              ) 50+學院
    .container--slim.mb-4
      .swiper--banner
        //- .swiper-navigation 
        //-   .swiper-button-prev
        //-     .chevron--left
        //-   .swiper-button-next
        //-     .chevron--right
        swiper-container(
          navigation='true'
          slides-per-view='1'
          space-between='20'
          autoplay-delay='3000'
          inject-styles=[
            `
            :host .swiper {
              overflow: hidden;
            }
            :host {
              --swiper-theme-color: #ede73c;
              --swiper-navigation-size: 32px;
            }
            :host .swiper-button-prev, :host .swiper-button-next {
              top: var(--swiper-navigation-top-offset, calc(50%));
            }
            `,
          ],
        )
          each item, index in [0, 1, 2]
            swiper-slide
              .card--course--xl
                .pic
                  img(
                    data-src=`${getLoremCourse()}`
                  ).lazyload
        .swiper-pagination
    
    .container--slim
      .tab--course
        .button--pill--lg
          .label 實體課程
        .button--pill--lg
          .label 線上學校
        .button--pill--lg
          .label 過往課程
      .row.row--course
        each item, index in [0, 1, 2, 3, 4, 5]
          .col-lg-6 
            .card--course
              .pic
                img(
                  data-src=`${getLoremCourse()}`
                ).lazyload
              .caption
                .info
                  .date 2024.11.06 — 2024.12.11
                h3 50+聲音表達工作坊進階班第5期
                .buttons
                  .button--pill--xl
                    .label 我要報名

  section.section--course.is-achieved
    .container--slim
      .section__title.is-small
        .title 以下課程已報名截止
      .row.row--course
        each item, index in [0, 1, 2, 3, 4, 5]
          .col-lg-6 
            .card--course
              .pic
                img(
                  data-src=`${getLoremCourse()}`
                ).lazyload
              .caption
                .info
                  .date 2024.11.06 — 2024.12.11
                h3 50+聲音表達工作坊進階班第5期
                .buttons
                  .button--pill--xl
                    .label 我要報名
      .buttons
        .button--more 
          .label 查看更多
          .icon 
            i.bi.bi-caret-down-fill