extends _layout.pug

block vars
  - $id = 'courseList'

block main
  section.section--course--cover
    section.section--breadcrumb
      .container
        .breadcrumb 
          ul 
            li
              a(
                href='/'
              ) 首頁
            li
              a(
                href=""
              ) 50+學院
    .container--slim.mt-3.mt-md-0.mb-4
      .swiper--banner
        swiper-container(
          navigation='true'
          inject-styles=[
            `
            :host {
              --swiper-theme-color: #ede73c;
            }
            :host .swiper-button-prev,
            :host .swiper-button-next {
              background-color: #66666680;
              border-radius: 100%;
              width: 28px;
              height: 28px;
              padding: 10px;
              stroke: #ede73c;
              stroke-width: 1;
            }
            `,
          ],
        )
          each item, index in [0, 1, 2]
            swiper-slide
              .card--course--xl
                .pic
                  img(
                    data-src=`${getLoremCourse()}`
                  ).lazyload
        
    
    .container--slim
      .tab--course.d-none.d-sm-flex
        .button--pill--lg
          .label 實體課程
        .button--pill--lg
          .label 線上學校
        .button--pill--lg
          .label 過往課程
      .tab--course.d-flex.d-sm-none
        .button--pill--xs
          .label 實體課程
        .button--pill--xs
          .label 線上學校
        .button--pill--xs
          .label 過往課程
      .row.row--course
        each item, index in [0, 1, 2, 3, 4, 5]
          .col-lg-6 
            .card--course
              .pic
                img(
                  data-src=`${getLoremCourse()}`
                ).lazyload
              .caption
                .info
                  .date 2024.11.06 — 2024.12.11
                h3 50+聲音表達工作坊進階班第5期
                .buttons
                  .button--pill--xl
                    .label 我要報名

  section.section--course.is-achieved
    .container--slim
      .section__title.is-small
        .title 以下課程已報名截止
      .row.row--course
        each item, index in [0, 1, 2, 3, 4, 5]
          .col-lg-6 
            .card--course
              .pic
                img(
                  data-src=`${getLoremCourse()}`
                ).lazyload
              .caption
                .info
                  .date 2024.11.06 — 2024.12.11
                h3 50+聲音表達工作坊進階班第5期
                .buttons
                  .button--pill--xl.is-dark-gray
                    .label 我要報名
      .buttons
        .button--more 
          .label 查看更多
          .icon 
            i.bi.bi-caret-down-fill