extends _layout.pug

block vars
  - $id = 'index'

block main
  section.section--breadcrumb
    .container
      .breadcrumb 
        ul 
          li
            a(
              href='/'
            ) 首頁
          li
            a(
              href=""
            ) 會員中心
          li
            a(
              href=""
            ) 個人資料修改

  section.section--personalInfo--body 
    .container
      .section__title.is-form
        .login--title.is-subtitle 個人資料修改
          .sub-title *海外用戶請填寫Email
      form.form--personal
        .row
          .col-12.col-lg-6.d-flex.flex-column.gap-4
            .col-12
              .form--input.is-required
                label(for='name') 姓名
                input#name.form--input(type='text', placeholder='請輸入姓名')
            .col-12
              .form--date 
                .label 生日
                .select
                  select
                    option 1999
                .select
                  select
                    option 一月
                .select
                  select
                    option 11
            .col-12
              .form--input
                label 手機
                input
                i.verified.bi.bi-circle 已驗證
            .col-12
              .form--input
                label Email
                input
                i.unverified.bi.bi-x-lg 未驗證
                p.error-msg *驗證信函已寄送至您的信箱，請點擊信件內網址完成驗證。
          .col-12.col-lg-6.d-flex.flex-column.gap-3
            .col-12
              .form--gender
                .label 性別
                .radio--group
                  label
                    input(
                      type='radio'
                      name='gender'
                    )
                    span 男
                  label
                    input(
                      type='radio'
                      name='gender'
                    )
                    span 女
            .col-12
              .form--address
                .label 地址
                .address--code.full
                  .select
                    select
                      option 104
                  .select
                    select
                      option 台北市
                  .select
                    select
                      option 大安區
                .address--text
                  textarea.textarea.w-100
      .row.justify-content-center
        .card-subscribe-email
          .dash--text 電子報訂閱
          span 親愛的50+會員您好,我們每週固定寄送《50+生活百科》至會員信箱,提供您50後生活必備的觀點與新知。如需取消訂閱,請按 
          a.normal--link 取消訂閱
          span 。
      .row.justify-content-center
        .col-12.mt-5(style="width: 420px;")
          a(href="./index.html")
            .button--pill--full
              .label.label--hide--border 資料確認

