extends _layout.pug

block vars
  - $id = 'index'

block main
  section.section--breadcrumb
    .container
      .breadcrumb 
        ul 
          li
            a(
              href='/'
            ) 首頁
          li
            a(
              href=""
            ) 評鑑
  
  section.section--review--body.mb-5
    .container--slim
      .tab--review
        ul.nav
          li.nav-item
            a.nav-link.active(
              data-bs-toggle="tab"
              data-bs-target="#active"
            ) 評鑑進行中
          li.nav-item
            a.nav-link(
              data-bs-toggle="tab"
              data-bs-target="#review"
            ) 查看得獎評鑑報告
      .tab-content
        .tab-pane.show.active(
          id="active"
        )
          each item, index in [0, 1, 2, 3, 4]
            .card--review 
              .pic 
                img(
                  src=`https://picsum.photos/900/600/?random=${item}`
                )
              .caption 
                .catalog 美妝保養
                .title 亞培安素-香草減甜版
                .date 申請試用時間： 2024.11.06 — 2024.12.11
                .info 40歲後肌肉流失每十年可能高達8%！蛋白質可幫助增加肌肉，但同時要護肌才能從問題根本著手，如果流失速度大於補...
              .countdown
                .text
                  .label 募集倒數
                  span 11
                  span 天
                  span 23
                  span 時
                  span 08
                  span 分
                  span 08
                  span 秒
                a.button--pill--lg(
                  href="./reviewStep1.html"
                )
                  .label 申請試用
        .tab-pane(
          id="review"
        )
          each item, index in [0, 1, 2, 3, 4]
            .card--review 
              .pic 
                img(
                  src=`https://picsum.photos/900/600/?random=${item}`
                )
              .caption 
                .catalog 美妝保養
                .title 亞培安素-香草減甜版
                .date.pe-5.me-3 申請試用時間： 2024.11.06 — 2024.12.11
                .info 40歲後肌肉流失每十年可能高達8%！蛋白質可幫助增加肌肉，但同時要護肌才能從問題根本著手，如果流失速度大於補...
                img.award(src="./assets/sprite/award.png")
              
              .countdown
                .count-people
                  .item
                    p 申請人數
                    p 
                      span.blue 50
                      | 人
                  .item
                    p 關注人數
                    p 
                      span.blue 9230
                      | 人
                a.button--pill--lg(
                  href="./reviewStep1.html"
                )
                  .label 查看報告
  .fixed-checkout.d-sm-none
    include components/mobileShareBar