extends _layout.pug

block vars
  - $id = 'index'

block main
  section.section--breadcrumb(
    style="padding-bottom: 0"
  )
    .container
      .breadcrumb 
        ul 
          li
            a(
              href='/'
            ) 首頁
          li
            a(
              href=""
            ) 選品
          li
            a(
              href=""
            ) 全站商品
      //- .buttons
      //-   .button--cart
      //-     .icon 
      //-       i.bi.bi-cart-fill
      //-     .label 我的購物車
  
  section.section--article--body      
    .container
      +adBanner(true)
      .section__title.is-mb-0.mt-3
        .title 全站商品
    .container--slim
      .row.row--selection
        each item, index in ["020", "019", "018", "017", "016", "015", "014", "013", "012", "011"]
          .col-12.col-sm-6
            a(href="./selectionDetail.html")
              .card--selection
                .pic 
                  img(
                    src=`https://picsum.photos/500/300?random=${item}`
                  )
                .caption
                  .title 這是商品名稱這是商品名稱這是商品名稱
                  .footer
                    .sale--price
                      .original--price
                        .label 原價
                        .price 500
                      .discount--price
                        .label 會員價
                        .price 800
                    .buttons
                      .button--cart--xs
                        .icon 
                          i.icon-cart
          if (index + 1) % 4 === 0 && index !== 0
            .col-12
              +adBanner(true)
      .buttons
        .button--more 
          .label 查看更多
          .icon 
            i.bi.bi-caret-down-fill