.container.mt-5#form-container
      .section__title.is-form
        .login--title.is-subtitle 資料填寫
          //- .sub-title.is-red *全區皆為必填欄位
      each item, index in ["一", "二"]
        form.form--review
          .form--caption.d-flex.aligin-items-center
            span.red.me-4 學員#{item}
          .row
            .col-12.col-md-6
              .form--input
                label(for='name') 姓名
                  span.label--hint (請務必填寫真實姓名，以利刷卡資料核對。)
                input#name.form--input(type='text', placeholder='請輸入姓名')
            .col-6
              .form--gender
                .label 性別
                .radio--group
                  label
                    input(
                      type='radio'
                      name='gender'
                    )
                    span 男
                  label
                    input(
                      type='radio'
                      name='gender'
                    )
                    span 女
            .col-12.col-md-6
              .form--date 
                .label 生日
                .select
                  select
                    option 1999
                .select
                  select
                    option 一月
                .select
                  select
                    option 11
            .col-12.col-md-6
              .form--input.is-required
                label 手機
                input
            .col-12
              .form--input.is-required
                label Email
                input
            .col-12
              .form--address
                .label 地址
                .address--code.full
                  .select
                    select
                      option 104
                  .select
                    select
                      option 台北市
                  .select
                    select
                      option 大安區
                .address--text
                  input
            .col-12.col-md-6
              .form--radio-select
                .label 餐點需求
                .radio--group.triple
                  label
                    input(
                      type='radio'
                      name='meal'
                    )
                    span 葷
                  label
                    input(
                      type='radio'
                      name='meal'
                    )
                    span 素
                  label
                    input(
                      type='radio'
                      name='meal'
                    )
                    span 無
            .col-12
              .form--input
                label 請問您過去是否有使用過類似高蛋白產品？
                .select
                  select
                    option 有
                    option 沒有
            .col-12.col-md-6
              .form--radio-select
                .label 單選題
                  //- span.label--hint (備註備註備註備註備註備註)
                .radio--group.single
                  label
                    input(
                      type='radio'
                      name='meal'
                    )
                    span.from--start 是:我不排斥食用乳製品
                  label
                    input(
                      type='radio'
                      name='meal'
                    )
                    span.from--start 否:我不排斥食用乳製品

            .col-12
              .form--radio-select
                .label 多選題
                  //- span.label--hint (備註備註備註備註備註備註)
                .radio--group.mutiple
                  - for (var i = 0; i < 6; i++)
                    label
                      input(
                        type='radio'
                        name='muti'
                      )
                      span.from--start 眼睛退化
                    label
                      input(
                        type='radio'
                        name='muti'
                      )
                      span.from--start 便秘便秘便秘便秘便秘便秘便秘
                .address--text
                  input(placeholder="其他(請說明)")

            .col-12
              .form--textarea
                label 留言
                  //- span.label--hint (備註備註備註備註備註備註)
                textarea.form--input(type='text')

            .col-12
              .form--upload
                label 圖片上傳
                .grid--upload--preview
                  each item, index in [0, 1, 2, 3]
                    .card--upload--preview
                      label(for=`upload-input-${index}`)
                        input.upload-input(id=`upload-input-${index}` type='file' style='display: none;' onchange=`handleFileUpload(this, ${index})`)
                        img.upload-preview(id=`upload-preview-${index}` src='' style='display: none; width: 100%; height: 100%; object-fit: cover;')
                        i.bi.bi-image.upload-icon(style='display: block;')
                        p 新增 圖片 #{index}
                        p 限定 JPEG & PNG 格式
      .row
      .col-12.d-flex.justify-content-center
        .form--checkbox
          label.align-center
            span
            input(type='checkbox')
            .icon 
              i.bi.bi-check-circle
              i.bi.bi-circle
            p(style="font-size: 20px") 我已詳閱並
              a.normal--link 報名注意事項
              | 並同意配合