-
  nav = [
    { label: '人物', href: './articles.html', target: null},
    { label: '健康', href: './articles.html', target: null, menu: [
      { label: '醫療保健', href: './articles.html', target: null },
      { label: '性愛', href: './articles.html', target: null },
      { label: '更年期', href: './articles.html', target: null },
      { label: '失智', href: './articles.html', target: null },
      { label: '運動', href: './articles.html', target: null },
      { label: '飲食', href: './articles.html', target: null }
    ] },
    { label: '生活', href: './articles.html', target: null },
    { label: '理財', href: './articles.html', target: null },
    { label: '策展', href: './events.html', target: null },
    { label: 'Podcast', href: './podcast.html', target: null, qlink: true },
    { label: '影音', href: './audios.html', target: null, qlink: true },
    { label: '百科', href: './weekly.html', target: null, qlink: true },
    { label: '評鑑', href: './reviews.html', target: null, qlink: true },
    { label: '學院', href: './course.html', target: null, qlink: true },
    { label: '活動', href: './campaign.html', target: null },
    { label: '選品', href: './selection.html', target: null },
  ]

  drawerNav = []
  nav.forEach((item) => {
    if(!item.qlink) {
      drawerNav.push(item)
    }
  })
  

  //- buttons = [
  //-   { label: '會員登入', href: '', target: null },
  //-   { label: '贊助我們', href: '', target: null, style: 'is-invert' },
  //- ]



header
  - if($id === 'article_video')
    .header-ad.static.d-none.d-lg-flex
      .ad-fake(style="width: 970px; height:250px") 廣告
  - else
    .header-ad.d-none.d-lg-flex
      .ad-fake(style="width: 970px; height:250px") 廣告
  .button--go-top(
    onclick='window.scrollTo(0, 0)'
  )
    .icon 
      i.bi.bi-chevron-up
  
  - if($id === 'eventDetail')
    .header--event 
      .logo--wrapper
        a.logo--black(
          href='./index.html'
        )
  - else if($id === 'article_video')
    .header--desktop--container
      .header--desktop.bg-none
        section
          .container
            .banner.d-none.d-md-flex.justify-content-start.w-100.mb-4
              .ad-fake(style="width: 90px; height: 45px") 廣告-s
            .logo--wrapper
              a.logo--black(
                href='./index.html'
              )
            .buttons--action.is-flex-end
              .panel--search
                label
                  a.icon(
                    href='./search.html'
                  )
                    i.bi.bi-search
                  input(
                    type='checkbox'
                  )
                  input(
                    type='text'
                    placeholder='輸入搜尋文字'
                  )
              a.button--pill--xs(
                href='./login.html'
              )
                .label 會員登入
              a.button--pill--xs.is-invert(
                href='./donate.html'
              )
                .label 贊助50+
              .button--cart--round
                .icon 
                  i.bi.bi-cart-fill
      nav.header--nav.bg-none
        .container
          -
            let navs = []
            navs[0] = nav.slice(0, 6)
            navs[1] = []
            navs[2] = nav.slice(6, 13)
          each menu in navs
            ul
              each item in menu
                li
                  a(
                    href=item.href
                    class=item.style
                  )
                    .label
                      = item.label
                  - if(item.menu)
                    ul
                      each sub in item.menu
                        li 
                          a(
                            href=sub.href
                          )
                            .label
                              = sub.label
  - else
    .header--desktop--container
      .header--desktop
        section
          .container
            .banner.d-none.d-md-flex.justify-content-start.w-100.mb-4
              .ad-fake(style="width: 90px; height: 45px") 廣告-s
            .logo--wrapper
              a.logo--black(
                href='./index.html'
              )
            .buttons--action.is-flex-end
              .panel--search
                label
                  a.icon(
                    href='./search.html'
                  )
                    i.bi.bi-search
                  input(
                    type='checkbox'
                  )
                  input(
                    type='text'
                    placeholder='輸入搜尋文字'
                  )
              a.button--pill--xs(
                href='./login.html'
              )
                .label 會員登入
              a.button--pill--xs.is-invert(
                href='./donate.html'
              )
                .label 贊助50+
              .button--cart--round
                .icon 
                  i.bi.bi-cart-fill
      nav.header--nav
        .container
          -
            let navs = []
            navs[0] = nav.slice(0, 6)
            navs[1] = []
            navs[2] = nav.slice(6, 13)
          each menu in navs
            ul
              each item in menu
                li
                  a(
                    href=item.href
                    class=item.style
                  )
                    .label
                      = item.label
                  - if(item.menu)
                    ul
                      each sub in item.menu
                        li 
                          a(
                            href=sub.href
                          )
                            .label
                              = sub.label
  .header--fixed 
    .container
      .logo--wrapper
        a.logo--black(
          href='./index.html'
        )
      nav.header--nav
        ul
          each item in nav
            li
              a(
                href=item.href
                class=item.style
              )
                .label
                  = item.label
              - if(item.menu)
                ul
                  each sub in item.menu
                    li 
                      a(
                        href=sub.href
                      )
                        .label
                          = sub.label
  .header-ad.d-flex.d-lg-none.py-3
    .ad-fake(style="width: 970px; height:250px") 廣告
  .header--mobile
    .container
      .logo--wrapper
        a.logo--black(
          href='./index.html'
        )
      .p-2
        .ad-fake(style="width: 90px; height: 40px") 廣告-s
      .buttons
        a.button--pill--xs.up-down(
          href='./donate.html'
        )
          .label 贊助50+
        .button--cart--round
          .icon 
            i.bi.bi-cart-fill
      .menu--toggle 
        .icon
          span
          span
          span

    .drawer
      .container
        .panel--search--mobile 
          label
            input(
              type='text'
              placerholder='輸入搜尋文字'
            )
            a.icon(
              href='./search.html'
            )
              .icon--search
        .grid--qlinks
          each item, index in qlink
            .button--qlink 
              .icon
                div(
                  class=item.icon
                )
              .label
                = item.name
      .nav--drawer
        ul
          each item, index in drawerNav
            li
              a(
                class=item.style
                data-bs-toggle=(item.menu)?"collapse":null
                href=(item.menu)?"#collapse--"+(index+1):item.href
              )
                .label
                  = item.label
                - if(item.menu)
                  .icon 
                    i.bi.bi-chevron-down
              - if(item.menu)
                ul.collapse(
                  id=`collapse--${index+1}`
                )
                  each sub in item.menu
                    li 
                      a(
                        href=sub.href
                      )
                        .label
                          = sub.label
      .container
        .buttons 
          .button--pill--xs.is-outline
            .label 會員中心
          .button--pill--xs.is-outline
            .label 登出
        nav.nav--sns
          ul
            each item, index in ["facebook", "line", "instagram", "youtube"]
              li
                a(
                  class=`button--${item}--dark`
                )
  .header--blank.d-lg-none
script.
    document.addEventListener('DOMContentLoaded', () => {
        const currentPath = location.pathname;
        if(currentPath.includes('selection') || currentPath.includes('selectionDetail')) {
          document.querySelectorAll('.button--cart--round').forEach(function(element) {
            element.style.display = 'block';
          });
        }
        else {
           document.querySelectorAll('.button--cart--round').forEach(function(element) {
            element.style.display = 'none';
          });
        }
    });

  document.addEventListener('DOMContentLoaded', () => {
      const headerMobile = document.querySelector('.header--mobile');
      const headerBlank = document.querySelector('.header--blank');
      const stickyOffset = headerMobile.offsetTop; // 獲取 header--mobile 的初始位置
      const headerDesk = document.querySelector('.header--desktop--container');
      const header = document.querySelector('header');
      const stickyDeskOffset = headerDesk.offsetTop; // 獲取 header--mobile 的初始位置

      window.addEventListener('scroll', () => {
          if (window.pageYOffset > stickyOffset) {
              headerMobile.classList.add('is-fixed'); // 添加固定樣式
              headerBlank.classList.add('d-block');
          } else {
              headerMobile.classList.remove('is-fixed'); // 移除固定樣式
              headerBlank.classList.remove('d-block');
          }

          if (window.pageYOffset > stickyDeskOffset) {
              header.classList.add('is-active'); // 添加固定樣式
          } else {
              header.classList.remove('is-active'); // 移除固定樣式
          }
      });
  });
